@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  padding-top: 6vh;
  padding-bottom: 6vh;
  background: linear-gradient(131deg, #f6b8b8, #1a8ff5);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1860px;
  
  display: flex;
  flex-wrap: wrap; /* Add this line to wrap items */
  flex-direction: row; /* Add this line to set the initial flex direction */
  justify-content: center; /* add this line */
  align-items: center; /* add this line */
  margin: 0 auto; 
  height: 90%; /* add this line */
}


.card {
  width: 19.5vw;
  /* height:70vh; */
 
  color: #fff;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 9px 4px rgba(176, 100, 255, 0.48); 
  
  box-shadow: 2px 3px 9px 4px rgba(176, 100, 255, 0.48)

}



.top {
  background-image: linear-gradient(45deg, #f1a49b, #f54c4a);
  padding-bottom: 8vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 1vw;
}

.user {
  font-size: 1.5vw;
}

#unit-converter {
  border: none;
  background: none;
  font-size: 1.5vw;
  color: #fff;
  margin-bottom: 30px;
}

#unit-converter option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#main-unit {
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  font-size: 2vw;
  width: 8vw;
}

#second-unit {
  border: none;
  background: none;
  border-bottom: 1px solid #f54c4a;
  color: #f54c4a;
  font-size:2vw;
  width: 8vw;
}

.main-unit-options {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 1.2vw;
}

.main-unit-option {
  background: rgba(95, 156, 89, 0.849);
}

.second-unit-options {
  border: none;
  background: none;
  color: #f54c4a;
  font-size: 1.2vw;
}

.bottom {
  background-color: #fff;
  padding: 10vh 0 14vh 0;
  
}

#chart-container {
  width: 55%;
  height: 70%;
  margin-left:3vw;
  margin-top:9vh;
  margin-right:0.5vw;
}

.chart-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.chart-buttons button {
  background-color: #F37D77;
  color: white;
  padding: 1vw 1.5vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 10px;
  font-size: 1.5vw;
  font-weight: bold;
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
}

.chart-buttons button:hover {

  background-color: #f45452; /* darker red hover background */
}

.icon-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 9999; /* ensure the icon is on top of other elements */
}

.icon {
  width: 8vw;
  height: 6vw;
  margin-right: 0.2vw;
}

.icon-text {
  font-size: 32px;
  color: #ffffff; /* adjust the text color to fit your design */
}


 /* @media (max-width: 1200px) {
  .body {
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
}  */
.title1{
  font-size: 1.8vw;
}
.title2{
  font-size:1.5vw;
}
.title3{
  font-size: 1.5vw;
}

@media (orientation: portrait) {
  .container {
    flex-direction: column; /* Change flex direction to column when in portrait mode */
  }
  .card {
    width: 40vw;
  }
  .bottom {
    background-color: #fff;
    padding: 6vh 0 8vh 0; 
  }
  #chart-container {
    width: 90%;
    height: 70%;
    margin-left:3vw;
    margin-top:9vh;
    margin-right:0.5vw;
  }
  .title1{
    font-size: 3.5vw;
  }
  .title2{
    font-size: 3vw;
  }
}


.icon-left-container {
  position: fixed;
  bottom: 1.5vw;
  left: 1.5vw;
  z-index: 1000;
}

.icon-left-container i {
  font-size: 3.5vw;
  color: #333;
  cursor: pointer;
}

.popup-panel {
  position: fixed;
  bottom: 5.8vw;
  left: 20px;
  z-index: 1000;
  max-width: 40%;
  width:auto;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  display: none;

  background: linear-gradient(135deg, rgba(248, 248, 248, 0.9), rgba(210, 210, 210, 0.9));
  color: #444;
  font-family: 'Roboto', sans-serif;
}

/* Add media query for larger screens */
@media (min-width: 1700px) {
  .popup-panel {
    bottom: 100px;
    max-width: 30%;
    width: auto;
  }
}

.popup-panel h2 {
  font-size: 1.8vw;
  color: #333;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: bold;
}

.popup-panel h3 {
  font-size: 1.5vw;
  color: #333;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: bold;
}

.popup-panel p:before {
  content: "\2022";
  margin-right: 8px;
  color:#f45452;
}

.popup-panel p {
  font-size: 1vw;
  color: #333;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.5;
}

.popup-panel.show {
  display: block;
}




